header {
  border-bottom: 1px solid rgba(249, 247, 254, 0.5);
  margin-top: 20px;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;

  font-size: 16px;
  padding: 15px 20px;
}
.search-form-button {
  background-color: #f65282;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  color: white;
  margin-left: 20px;
  font-size: 16px;
}

@media (min-width: 1662px) {
  .search-form-input {
    background-color: #f9f7fe;
    border: none;
    border-radius: 6px;

    font-size: 26px;
    padding: 15px 25px;
  }

  .search-form-button {
    background-color: #f65282;
    padding: 15px 30px;
    border: none;
    border-radius: 6px;
    color: white;
    margin-left: 20px;
    font-size: 26px;
    width: 250px;
  }
}

@media (min-width: 1400px) and (max-width: 1665px) {
  .search-form-button {
    width: 200px;
    background-color: #f65282;
    padding: 15px 30px;
    border: none;
    border-radius: 6px;
    color: white;
    margin-left: 20px;
    font-size: 20px;
  }

  .search-form-input {
    font-size: 20px;
  }
}

@media (max-width: 900px) {
  header {
    margin-top: 10px;
  }
  .search-form-input {
    padding: 15px 10px;
    width: 70%;
    margin-right: 0;
  }

  .search-form-button {
    padding: 15px 5px;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 0;
    width: 25%;
  }
}

@media (min-width: 401px) and (max-width: 500px) {
  .search-form-button {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .search-form-input {
    padding: 5px 10px;
    width: 60%;
    margin-right: 0;
  }

  .search-form-button {
    padding: 5px 5px;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 0;
    width: 32%;
  }
}
