.weather-app-data {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  color: whitesmoke;
}
.weather-app-details {
  font-size: 16px;
  line-height: 24px;
  color: #a9a6b3;
  font-weight: 400;
}

.weather-app-details strong {
  color: #f65282;
  font-weight: 500;
}

.weather-app-temp-cont {
  display: flex;
}

.weather-app-emoji {
  font-size: 60px;
}

.weather-app-temp canvas {
  padding-right: 10px;
}

.weather-app-temp {
  font-size: 60px;
  font-weight: bold;
  color: whitesmoke;
  line-height: 88px;
}

.weather-app-temp-unit {
  margin-top: 6px;
  font-size: 18px;
  color: whitesmoke;
  position: relative;
  top: -28px;
}

@media (min-width: 1500px) {
  .weather-app-data {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .weather-app-emoji {
    font-size: 100px;
    position: relative;
    margin-right: 10px;
    top: -15px;
  }

  .weather-app-temp {
    font-size: 90px;
    font-weight: bold;
    color: whitesmoke;
    line-height: 75px;
  }

  .weather-app-city {
    margin-bottom: 20px;
    font-size: 53px;
    line-height: 48px;
    color: whitesmoke;
  }

  .weather-app-details {
    font-size: 22px;
    line-height: 24px;
    color: #a9a6b3;
    font-weight: 400;
  }

  .weather-app-details strong {
    color: #f65282;
    font-weight: 500;
  }

  .weather-app-temp-cont {
    display: flex;
  }

  .weather-app-temp-unit {
    font-size: 20px;
    position: relative;
    top: -50px;
    margin-right: 18px;
  }
}

@media (min-width: 800px) and (max-width: 991.98px) {
  .weather-app-emoji {
    font-size: 30px;
    position: relative;
    top: -15px;
  }

  .weather-app-temp {
    font-size: 60px;
    font-weight: bold;
    color: whitesmoke;
    line-height: 68px;
  }
}

@media (max-width: 700px) {
  .weather-app-city {
    margin: 0;
    font-size: 28px;
    line-height: 48px;
    color: whitesmoke;
  }

  .weather-app-details {
    font-size: 8px;
    line-height: 24px;
    color: #a9a6b3;
    font-weight: 400;
  }

  .weather-app-details strong {
    color: #f65282;
    font-weight: 500;
  }

  .weather-app-temp-cont {
    display: flex;
  }

  .weather-app-emoji {
    height: 10px;
    width: 10px;
    position: relative;
    top: -8px;
  }
  .weather-app-temp canvas {
    height: 40px;
    width: 40px;
    position: relative;
    top: 6px;
    padding-right: 0;
  }

  .weather-app-temp {
    font-size: 40px;
    font-weight: bold;
    color: whitesmoke;
    line-height: 68px;
  }
}

@media (min-width: 500px) and (max-width: 696px) {
  .weather-app-temp-unit {
    font-size: 10px;
    top: -12px;
  }
}

@media (max-width: 500px) {
  .weather-app-emoji {
    height: 30px;
    position: relative;
    top: -8px;
  }

  .weather-app-temp {
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
    position: relative;
    top: -10px;
  }
  .weather-app-temp-unit {
    font-size: 8px;
    color: whitesmoke;
    position: relative;
    top: -16px;
  }

  .weather-app-temp canvas {
    height: 25px;
    width: 25px;
    position: relative;
    top: 2px;
    padding-right: 3px;
  }
}

@media (max-width: 400px) {
  .weather-app-city {
    margin: 0;
    font-size: 28px;
    line-height: 48px;
    color: whitesmoke;
  }

  .weather-app-details {
    font-size: 8px;
    line-height: 24px;
    color: #a9a6b3;
    font-weight: 400;
  }

  .weather-app-details strong {
    color: #f65282;
    font-weight: 500;
  }

  .weather-app-temp-cont {
    display: flex;
  }

  .weather-app-emoji {
    height: 15px;
    position: relative;
    top: -2px;
  }

  .weather-app-temp canvas {
    height: 20px;
    width: 20px;
    position: relative;
    top: 1px;
    padding-right: 3px;
  }

  .weather-app-temp {
    font-weight: bold;
    color: whitesmoke;
    position: relative;
    top: -10px;
  }

  .weather-temp-value {
    position: relative;
    top: -2px;
    font-size: 22px;
  }
  .weather-app-temp-unit {
    margin-top: 10px;
    font-size: 8px;
    color: whitesmoke;
    position: relative;
    top: -12px;
  }
}
