body {
  background-image: url("https://images.pexels.com/photos/12591352/pexels-photo-12591352.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  opacity: 0.9;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  color: white;
}

.App {
  background-color: #0c1736;
  max-width: 70%;
  margin: 60px auto;
  padding: 30px;
  box-shadow: 0 50px 80px #41326414;
  border-radius: 16px;
}

a {
  color: rgba(246, 82, 130, 0.8);
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 500px) {
  .App {
    max-width: 95%;
  }
}
